{{ define "main" }}


<div class="wrapper">
  <div class="units-row">
    <div class="unit-centered unit-80">
    <article class="article" itemscope itemtype="http://schema.org/Article">

      <h1 itemprop="name">404</h1>
      <img src="/img/oops.png" width=100 style='padding-bottom:2em;'>
        <h2>页面未找到</h2>

        <p>对不起,似乎你要找页面不在这里。<br>
       可能是因为重新组织了网站结构。</p>
        <p>你可以试试，在这里搜索一下，看看能否找到你要找的内容。</p>

        <p><a id="searchsite">
        <form method="get" action="https://duckduckgo.com/">
        <input type="search" name="q" maxlength="255" placeholder="Search the site">
        <input type="hidden" name="sites" value="chenq.site"/>
        <input type="hidden" name="k7" value="#faf8f8"/>
        <input type="hidden" name="kj" value="#b33"/>
        <input type="hidden" name="ky" value="#fafafa"/>
        <input type="hidden" name="kx" value="b"/>
        <input type="hidden" name="ko" value="-1"/>
        <input type="hidden" name="k1" value="-1"/>
        <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a></p>

      </article>
</div>
</div>
</div>


{{ end }}
