{{ define "main" }}
<div class="wrapper">
  <div class="row">
    <div style='padding: 1rem 0.9375rem 1rem;'>
      <h2>参编书籍</h2>
      <table>
        <tbody>
          <tr>
            <td style="background-color: #faf8f8; border-bottom: 0px;"><img src="{{ .Site.BaseURL }}img/cover/2013.jpg" height=30></a></td>
            <td style="background-color: #faf8f8; border-bottom: 0px;"><img src="{{ .Site.BaseURL }}img/cover/2014.jpg" height=30></a></td>            
            <td style="background-color: #faf8f8; border-bottom: 0px;"><img src="{{ .Site.BaseURL }}img/cover/2015.jpg" height=30></a></td>
            <td style="background-color: #faf8f8; border-bottom: 0px;"><img src="{{ .Site.BaseURL }}img/cover/2016.jpg" height=30></a></td>
            <td style="background-color: #faf8f8; border-bottom: 0px;"><img src="{{ .Site.BaseURL }}img/cover/2017.jpg" height=30></a></td>
            <td style="background-color: #faf8f8; border-bottom: 0px;"><img src="{{ .Site.BaseURL }}img/cover/2018.jpg" height=30></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-12">
      <h2>未发表工作</h2>
      {{ range (where .Pages "Params.kind" "==" "unpublished").GroupByDate "2006" "desc" }}
      <div class="row">
        <div class="column small-1 medium-1">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="column small-11 medium-11">
          <span style="font-size: 90%">
           <ul class="compact fa-ul">
             {{ range .Pages.ByDate.Reverse }}
             <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
             {{ end }}
           </ul></span>
         </div>
       </div>
       {{ end }}
     </div>

     <div class="column small-12 ">
     <div style="padding-top: 3ex;"></div>
      <h2>发表文章</h2>
      {{ range (where .Pages "Params.kind" "!=" "unpublished").GroupByDate "2006" "desc" }}
      <div class="row">
        <div class="column small-1 medium-1">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="column small-11 medium-11">
          <span style="font-size: 90%">
           <ul class="compact fa-ul">
             {{ range .Pages.ByDate.Reverse }}
             <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
             {{ end }}
           </ul></span>
         </div>
       </div>
       {{ end }}
     </div>
   </div>
 </div>
 {{ end }}
